<footer>
	<div class="centerWrap">
		<nav class="footer_navigation" role="navigation">
	    	<ul>
	        	<li><a href="#">Home Page</a></li>
                <li><a href="/more_information">More information</a></li>
	        </ul>
	    </nav>
	    
	    <p class="footer_paragraph"> &copy; Team QA 2018</p>
  	</div>
</footer>