@charset "UTF-8";

@font-face {
    font-family: 'bonvenocflight';
    src: url('../fonts/bonvenocf-light-webfont.eot');
    src: url('../fonts/bonvenocf-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bonvenocf-light-webfont.woff2') format('woff2'),
         url('../fonts/bonvenocf-light-webfont.woff') format('woff'),
         url('../fonts/bonvenocf-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* 0. RESET
•••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */

* { margin: 0; padding: 0; }

/* HTML5 elements */
article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary { display: block; }
pre, code, var, samp, kbd { font-family: monospace, sans-serif; }
button, input, select, textarea { font: inherit; }


/* 1. BASE
•••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */

body { font: normal 14px "Open Sans", "Arial", "Helvetica Neue", "Geneva", sans-serif; line-height: 1.5em; background: #fff url("../images/top-shadow-bg.png") repeat-x; color: @colorMain; }
input, textarea { padding: 5px; }
fieldset { border: none; }
p { margin-bottom: 1em; -webkit-hyphens: auto; -moz-hyphens: auto; -ms-hyphens: auto; hyphens: auto; hyphenate-limit-lines: 2; }

q, blockquote p { quotes: "\201E" "\201D"; }
q:before, blockquote p:before { content: open-quote; }
q:after, blockquote p:after { content: close-quote; }

ul ul, ol ol { padding-left: 1.2em; }
li { list-style-position: inside; }

a { text-decoration: none; color: #414E8B; transition: all 0.3s ease-out 0s; }
a:hover { text-decoration: underline; }

*::selection { background: #414E8B; color: #fff; }
*::-moz-selection { background: #414E8B; color: #fff; }

button, input[type="submit"] { cursor: pointer; }
img { border: none; }


/* VARIABLES
•••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */
@colorMain: #333;
@colorTitle: #A49268;
@red: #9a0501;
@white: #fff;

@sprites: url(../images/sprites.png);

.transition (@duration:0.2s, @property:all, @function:ease) { -webkit-transition:@duration @property @function; -moz-transition:@duration @property @function; -o-transition:@duration @property @function; -ms-transition:@duration @property @function; }

.userSelect(@type:none) { -webkit-user-select: @type; -moz-user-select: @type; -ms-user-select: @type; user-select: @type; }
.boxSizing(@box:border-box) { -webkit-box-sizing: @box; -moz-box-sizing: @box; box-sizing: @box; }

.translate(@x, @y){ -moz-transform: translate(@x, @y); -webkit-transform: translate(@x, @y) translateZ(0); transform: translate(@x, @y); }
.scale(@s){ -moz-transform: scale(@s) translate3d(0, 0, 0); -webkit-transform: scale(@s) translate3d(0, 0, 0); transform: scale(@s) translate3d(0, 0, 0); }
.rotate(@d){ -moz-transform: rotate(@d); -webkit-transform: rotate(@d); -ms-transform: rotate(@d); -o-transform: rotate(@d);transform: rotate(@d); /* filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); */ }

/*----- 2.6 Colors -----*/
.cw { color: #fff; }


/* LAYOUT
•••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */
.centerWrap { margin: auto; width: 960px; position: relative; max-width: 96%; }

h2, h3 { font-size: 36px; text-transform: uppercase; padding-bottom: 30px; font-weight: normal; }
h3 { font-size: 20px; }

.h2-test { position: relative; padding-bottom: 35px; font-size: 30px; text-transform: none; padding-left: 50px; 
    span { color: @red; }

    &:before { position: absolute; left: 0; top: -5px; width: 40px; height: 40px; content: ''; background: @sprites -2px -91px no-repeat; }

    &.h2-test--manual {
        &:before { left: 10px;width: 30px; background-position: left -135px; }
    }
}

.lang { position: absolute; right: 0; top: -165px; z-index: 1;
    li { float: left; margin-left: 10px; list-style: outside none; 
        a { display: block; width: 40px; height: 40px; line-height: 40px; text-transform: uppercase; text-align: center; border: 2px solid; border-radius: 100%; 
            &:hover, &.active { text-decoration: none; border: 2px solid @red; color: @red; }
        }
    }
}

/* Header */
.header { width: 100%; margin-top: 170px; min-height: 200px; background: #6f0202 url("../images/header-bg.png") repeat-x;
	.header_navigation { float: left; margin-top: -42px;
		ul > li { float: left; margin-right: 2px; list-style: outside none; }
		a { display: block; height: 42px; line-height: 41px; padding: 0 2em; background: url("../images/nav-li.png") repeat-x; color: @white;
			&:hover, &.active { text-decoration: none; background: url("../images/nav-li-hover.png") repeat-x; }
		}
	}
}

/* Logo */
.siteLogo { float: left; position: relative; margin: 40px 30px; 
	a { display: block; overflow: hidden; outline: none; cursor: pointer; text-indent: -9999px; width: 532px; height: 120px; background: url("../images/logo.png") no-repeat;  }

    &:after { position: absolute; right: -380px; top: -195px; width: 295px; height: 400px; content: ''; background: @sprites -72px -2px no-repeat; }
}

/* Content */
.contentWrapper { overflow: hidden; padding: 60px 0; background: url("../images/top-shadow-bg.png") repeat-x; 
    p { line-height: 1.8em; }
}
	
/* Aside Left */
.asideLeft { float: left; width: 465px; 
    p { text-align: justify; }
}

/* Aside Right */
.asideRight { float: right; width: 465px; text-align: justify;
    p { text-align: justify; }
}

.accordion { transform: translate3d(0,0,0);
    .head { position: relative; height: 58px; margin-bottom: 20px; line-height: 58px; padding: 0 0 0 40px; font-size: 16px; cursor: pointer; border: 1px solid #dfdfdf;  background: url("../images/accordion-li-bg.png") repeat-x; 
        .button { position: absolute; top: 15px; right: 20px; width: 30px; height: 30px; border: 1px solid #c5c5c5; border-radius: 100%; 
            &:before { position: absolute; left: 0; top: 0; bottom: 0; right: 0; width: 12px; height: 12px; margin: auto; content: ''; background: @sprites left -66px no-repeat; }
        }

        &:before { position: absolute; left: 25px; top: 26px; width: 4px; height: 6px; content: ''; background: @sprites -17px -64px no-repeat; }

        &.ui-state-active .button:before { height: 2px; background-position: left -85px; }
    }
    .content { display: none; line-height: 1.8em; }
}

.references { margin-left: -30px;
    li { float: left; margin: 0 0 30px 30px; width: 168px; list-style: outside none; 
        img { padding: 9px; margin-bottom: 15px; border: 1px solid #dfdfdf;  }
        .name { display: block; font-size: 16px; text-align: center; }
    }
}

.contact-box { overflow: hidden; margin-bottom: 20px;
    li { float: left; margin-right: 30px; list-style: outside none; }
}
.form-contact { clear: both; padding: 30px; border: 1px solid #f1f1f1; 
    div { float: left; width: 201px; margin-left: 30px; }
    fieldset { clear: both; }
    fieldset div:first-child,
    .div-textarea { margin: 0; }
    label { display: block; margin-bottom: 3px; font-size: 12px; text-transform: uppercase; 
        .req { display: inline-block; margin-left: 10px; width: 11px; height: 12px; background: @sprites -25px -64px no-repeat; }
    }
    input[type="text"],
    input[type="email"],
    textarea { width: 100%; border: 1px solid transparent; background: #f0f0f0; box-sizing: border-box; }
    
    .div-textarea { float: none; width: auto; clear: both; padding: 20px 0; }
    textarea { width: 100%; height: 130px; }

    span.req { display: inline-block; margin-right: 5px; width: 11px; height: 12px; background: @sprites -25px -64px no-repeat; }

    .button { float: right; width: auto;
        #a_send_contant_form { display: inline-block; padding: 12px 15px; margin-left: 20px; text-transform: uppercase; border: 1px solid @red; background: none; color: @red; .transition;
            &:hover { text-decoration: none; background: @red; color: @white; }
        }
    }
}

/* Footer */
footer { clear: both; overflow: hidden; padding: 20px 0; border-top: 1px solid #dfdfdf;
	.footer_navigation { float: left; width: 400px; margin-top: 10px;
		li { float: left; width: 130px; list-style: outside none; } 
		a { font-size: 12px; text-transform: uppercase; color: #757474;
			&:hover { text-decoration: none; color: @colorMain; }
		}
	}
	.footer_paragraph { float: right; position: relative; text-align: right; line-height: 60px; font-size: 12px; padding-left: 70px; color: #757474; 
        &:before { position: absolute; left: 0; top: 0; width: 60px; height: 60px; content: ''; background: @sprites left top no-repeat; }
    }
}

.form-contact .ajax_loader { float: none; width: auto; margin-left: 0; }
.contact_ajax_result {
    display: block; 
    text-align: right;
    font-size: 12px;
    font-weight: bold;
    color: green;
}
.ajax_loader,
.contact_ajax_result {
    display: none;
}           
		

/* 4. OTHER METHODS
•••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */
/* class for clearing issue */
.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }

/* opacity hover */
.op { opacity: 1; transition: all 0.25s ease-in-out 0s; 
 &:hover { text-decoration: none; opacity: .7; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70); }
}

/* input & textarea focus state */
input[type=text],
input[type=email],
input[type=search],
textarea {
	border: 1px solid #DDDDDD; transition: all 0.3s ease-in-out 0s;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=search]:focus,
textarea:focus {
	outline: none; border: 1px solid #007EFF; box-shadow: 0 0 3px #007EFF;
}

/* placeholders */
[placeholder]:focus::-webkit-input-placeholder,
[placeholder]:focus::-webkit-input-placeholder {
    transition: opacity 0.3s ease 0.3s; 
    opacity: 0;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    transition: opacity 0.3s ease 0.3s; 
    opacity: 0;
}
input::-webkit-input-placeholder, input:-moz-placeholder, textarea:-moz-placeholder { color: #d26b1a; opacity: 1; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #d26b1a; opacity: 1; }
input:-moz-placeholder, textarea:-moz-placeholder { color: #d26b1a; opacity: 1; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #d26b1a; opacity: 1; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #d26b1a; opacity: 1; }
.placeholder { color: #d26b1a !important; }
input[placeholder], [placeholder], *[placeholder] { color: #d26b1a; }


@media only screen and (max-width: 768px) {
	.asideLeft, .asideRight { float: none; width: 100%; }

    .form-contact {
        div,
        fieldset div:first-child { margin-left: 0; margin-right: 30px; }

        .button { margin-right: 0; }
    }

    .references { text-align: center;
        li { float: none; display: inline-block;}
    }
}
