---
slug: /
layout_name: application
---

{% content_for 'meta_title' %}Homepage{% endcontent_for %}

{% query_graph 'current_user', result_name: 'g' %}

<head>    
    <link rel="stylesheet" href="{{ 'styles/style.css' | asset_url }}">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    
    <!--[if lte IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body>
<header class="header" role="banner">
	<div class="centerWrap">
		<nav class="header_navigation" role="navigation">
			<ul>
		    <li><a href="#" class="active" title="Home Page">Home Page</a></li>
        <li><a href="/more_information" title="More information">More information</a></li>
				<li><a href="/sign-in" title="Sign in">Sign in</a></li>
		  </ul>
		</nav>

		<h1 class="siteLogo"><a href="QA.24 Quality is most important to us" title="#">Quality is most important to us</a></h1>
	</div>
</header>

<div class="contentWrapper">
	<div class="centerWrap">
		<div class="mainContent" role="main">
	        <h3>You are login as: <span>{{ current_user.first_name }}</span></h3>

	        <aside class="asideLeft">
            {% if g.current_user.client_profile %}

              {% assign page = params.page | default: 1 | plus: 0 %}
              <a href="/client/projects/new">Create project</a>

              {% query_graph 'client_projects', result_name: 'g', creator_id: g.current_user.id, page: page %}

              {% if g.projects.total_entries > 0 %}
                <ul>
                  {% for project in g.projects.results %}
                    <li>{{ project.name }} ({{ project.state }}) - <a href="/client/projects/edit/{{ project.slug }}">edit</a></li>
                  {% endfor %}
                </ul>
                {% assign pages = g.projects.total_pages %}
                {% assign current_page = g.projects.current_page %}
                {% if pages > 1 %}
                  <div class="pager">
                    {% for page in (1..pages) %}
                      <a href="{{ current_full_path }}?page={{ page }}">{{ page }}</a>
                    {% endfor %}
                  </div>
                {% endif %}
              {% else %}
                <p>You have not created any projects yet.</p>
              {% endif %}
            {% endif %}
	        </aside>

          <aside class="asideLeft">
	            
                <p><a href="/john-private-page">Check page with Authorization Policy</a></p>

	        </aside>
	        
	    </div>
	</div>
</div>

<footer>
	<div class="centerWrap">
		<nav class="footer_navigation" role="navigation">
	    	<ul>
          <li><a href="#">Home Page</a></li>
          <li><a href="/developer/sign-up">Dev sign up</a></li>
          <li><a href="/client/sign-up">Client sign up</a></li>
          <li><a href="/contacts">Contacts</a></li>
          <li><a href="/log-out">Log out</a></li>
	      </ul>
	    </nav>
	    
	    <p class="footer_paragraph"> &copy; Team QA 2018</p>
  	</div>
</footer>

<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

</body>
</html>