---
slug: sign-in
layout_name: application
---
{% content_for 'meta_title' %}Sign in{% endcontent_for %}

<head>    
    <link rel="stylesheet" href="{{ 'styles/style.css' | asset_url }}">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    
    <!--[if lte IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body>
<header class="header" role="banner">
	<div class="centerWrap">
		<nav class="header_navigation" role="navigation">
			<ul>
		    	<li><a href="/" title="Home Page">Home Page</a></li>
                <li><a href="/more_information" title="More information">More information</a></li>
				<li><a href="/sign-in" class="active" title="Sign in">Sign in</a></li>
		    </ul>
		</nav>

		<h1 class="siteLogo"><a href="QA.24 Quality is most important to us" title="#">Quality is most important to us</a></h1>
	</div>
</header>

<div class="contentWrapper">
	<div class="centerWrap">
	    <div class="mainContent" role="main">
			<div class="form-contact">
				<fieldset>
					<h3>Sign in </h3>
					{% include_form 'sign_in' %}
					<p>New user? Create <a href="/developer/sign-up"> new developer account</a> or <a href="/client/sign-up">new client account</a></p>
					<p><a href="/recover-password">Recover password</a></p>
				</fieldset>
			</div>
	  </div>
	</div>
</div>

<footer>
	<div class="centerWrap">
		<nav class="footer_navigation" role="navigation">
	    	<ul>
	        	<li><a href="#">Home Page</a></li>
                <li><a href="/developer/sign-up">Dev sign up</a></li>
                <li><a href="/client/sign-up">Client sign up</a></li>
	        </ul>
	    </nav>
	    
	    <p class="footer_paragraph"> &copy; Team QA 2018</p>
  	</div>
</footer>

<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

</body>
</html>