---
name: recover_password
resource: Customization
resource_owner: anyone
redirect_to: /recover-password
flash_notice: If you provided the right email, we will send you reset password instructions.
configuration:
  properties:
    email:
      validation:
        presence: true
        email: true
callback_actions: |-
  QueryGraphTag Error: generate_user_temporary_token does not exist

---
{% form %}
  <label for="email">Email</label>
  <input name="{{ form_builder.fields.properties.email.name }}" id="email" type="email">

  <button>Recover password</button>
{% endform %}