---
slug: 'blog'
layout_name: 'blog-layout'
---
{%- capture url_template -%}
  {% if params.language %}/{lang}{%- endif -%}/blog{/blog}{/category}{/tags}{?page,per_page}
{%- endcapture -%}

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

{% assign url_params = current_full_path | extract_url_params: url_template %}

{% assign slug = url_params.slug[1] | default: 'blog' %}
{% assign tags = url_params.tags | replace: '-', ' ' | default: null %}
{% assign page = url_params.page | default: 1 | plus: 0 %}
{% assign per_page = url_params.per_page  | default: 10 | plus: 0 %}
{% if page == 1 %}
  {% assign feature_post_first = true %}
{% endif %}

{%- query_graph 'get_blog_instance', result_name: bi, scope: 'blog', enabled: 'true' -%}
{% assign blog_instance = bi.customizations.results.first %}

{% if blog_instance.grid_view_enabled %}
  {% if blog_instance.sidebar_enabled %}
    {% assign grid_view_cols_nr = 2 %}
  {% else %}
    {% assign grid_view_cols_nr = 3 %}
  {% endif %}

  {% if feature_post_first %}
    {% if grid_view_cols_nr == 2 %}
      {% assign per_page = per_page %}
    {% endif %}

  {% elsif grid_view_cols_nr == 3 %}
    {% assign per_page = per_page %}
  {% endif %}
{% endif %}

{% if slug != blank and blog_instance %}
  {%- content_for 'meta_title' -%}
    {{ slug | capitalize }}
  {%- endcontent_for -%}

  {%- include 'blog/hero',
    title: blog_instance.title,
    subtitle: blog_instance.subtitle,
    img_path: blog_instance.header_image.transformed
  -%}

  {% assign today = 'now' | date: '%F' %}
  {%- query_graph 'get_blog_posts', result_name: g, published_at_lte: today, per_page: per_page, page: page, blog_instance_id: blog_instance.id, tags: tags -%}
  {% assign blog_posts = g.customizations %}

  <div class="o-section">

    <div class="o-container">

      <div class="c-layout">

        <section class="c-layout__main">

          {% if tags %}
            <div class="o-section__title">Category: <b>{{ tags | join: ',' }}</b></div>
          {% endif %}

          {% if blog_posts.results.size == 0 %}
            <div class="o-section__title">
              Sorry, no content matched your criteria.<br>
              <a href="{{ current_full_path }}">Please go back to main blog page</a>
            </div>
          {% endif %}

          {%- include 'blog/posts-list',
            is_grid_view: blog_instance.grid_view_enabled,
            grid_view_cols: grid_view_cols_nr,
            feature_first: feature_post_first,
            posts: blog_posts.results,
            instance_slug: blog_instance.slug
          -%}

          {%- include 'blog/pagination',
            max_full_pagination: 6,
            max_side_pagination: 2,
            posts_per_page: per_page,
            posts: blog_posts
          -%}

        </section>

        {%- if blog_instance.sidebar_enabled -%}
          <aside class="c-layout__sidebar">

            {% assign rss_link = '/blog/rss/' | append: blog_instance.slug | append: '.rss' %}
            {% capture rss_link %}/blog/rss/{{ blog_instance.slug }}.rss{% endcapture %}
            {% include 'blog/social-list',
              widget_title: 'Be in touch',
              facebook_link: 'https://www.facebook.com/DesksNearMe',
              twitter_link: 'https://twitter.com/desksnearme',
              google_plus_link: 'https://plus.google.com/106464452567027684545',
              rss_link: rss_link
            %}

            {%- include 'blog/tags-widget',
              widget_title: 'Categories',
              tags: blog_instance.tags_filter
            -%}

            {% include 'blog/facebook-widget' %}

          </aside>
        {%- endif -%}

      </div>

    </div>

  </div>

  {% assign user_id = blog_instance.user.id | plus: 0 %}
  {%- if current_user.id == user_id -%}
    {%- include 'blog/flying-button',
      btn_text: 'Setting',
      btn_href: '/blog/admin/settings',
      btn_icon: 'equalizer2'
    -%}
  {%- endif -%}
{% else %}
  {%- include 'blog/hero', title: 'Blog is not enabled' -%}
{% endif %}
