---
name: only_allowed_by_johns
redirect_to: /login
flash_alert: Please login to access this page.
---
{% query_graph 'current_user', result_name: 'g' %}
{% if g.current_user.first_name == 'john' %}true{% endif %}