---
slug: 'blog/posts/new'
format: html
layout_name: 'admin-blog-layout'
authorization_policies:
  - instance_blog_edition
---
{%- include 'blog/admin/navigation' -%}

{% render_form blog_post,
  object_class: Customization,
  object_id: 'new',
  parent_object_class: CustomModelType,
  parent_object_id: blog_post
%}
