---
name: contact_request_notification
delay: 0
enabled: true
from: info@example.com
subject: Contact Request
to: '{{ form.model.properties.email }}'
trigger_condition: true
---
<h2>Hi {{ form.model.properties.name }}</h2>
<p>Thank you for your request, we will contact you shortly!</p>